<% provide(:title, 'All Cards') %>
<h1>All cards</h1>

<ul class="cards">
  <% @cards.each do |card| %>
    <li>
      <p>Title: <strong><%= card.title %></strong></p>
      <p><%= card.description %></p>
    </li>
  <% end %>
</ul>
